<h2>Need MOAR GIFS!</h2>
<%= link_to "Back to GIFs!", pictures_url %>

<%= form_for @picture do |pic| %>
  <p>
    <%= pic.label "emotion" %>: <%= pic.text_field "emotion" %>
  </p>
  <p>
    <%= pic.label "url" %>: <%= pic.text_field "url" %>
  </p>
  <p>
    <%= pic.submit "Save" %>
  </p>
<% end %>