<h2><%= @picture[:emotion] %></h2>

<%= image_tag @picture.url %>

<p><%= link_to "All dem gifs", pictures_url %> | <%= link_to "Fix dis GIF", edit_picture_path(@picture) %> | <%= link_to "Nuke this gif", @picture, :confirm => "Woah. That's harsh. For srs?", :method => :delete %></p>